.p124 {
   position: relative;
   top: 2cm;
   align-items: right;
   text-align: right;
   box-sizing: border-box;
}

.p124 img {
   width: 7.5cm;
   height: 7.5cm;
   border-radius: 50%;
}

.p125 {
   position: relative;
   top: 2cm;
   align-items: right;
   text-align: right;
   box-sizing: border-box;
}

.p125 img {
   width: 7.5cm;
   height: 7.5cm;
   border-radius: 50%;
}

.p126 {
   position: relative;
   top: 2cm;
   align-items: right;
   text-align: right;
   box-sizing: border-box;
}

.p126 img {
   width: 7.5cm;
   height: 7.5cm;
   border-radius: 50%;
}
/* picture end here */


/* font start here */

.h31{
   width: 33%;
}


.id_lap1 {
position: absolute;
bottom: 50%;
right: 50%;
font-size: 20mm;
text-align: center;

}

/*.id_lap2 {
position: absolute;
top: 50%;
right: 50%;
font-size: 20mm;
text-align: center;
margin: auto;
}



/* font end here */

