body {
    text-align: right;
    background: url('king khalid.JPG') no-repeat center center fixed;
    background-size: cover;
    color: rgb(17, 16, 16);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: center;
    border: 1px solid #ddd;
    font-size: 5mm;
    background-color: #444;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

