html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.container:after, .row:after{
	clear: both;
}   

.container{
content: " ";
display: table;
}